{% extends "base.html" %}

{% block title %}Редагувати подію: {{ event.name }}{% endblock %}

{% block content %}
    <h2>Редагувати подію: "{{ event.name }}"</h2>

    <form action="{{ url_for('edit_event', event_id=event.id) }}" method="POST" class="form-narrow">
        <input type="text" name="event_name" placeholder="Назва події" value="{{ event.name }}" required>
        <input type="datetime-local" name="event_datetime" value="{{ event.formatted_datetime_local }}" required>
        <input type="url" name="image_url" placeholder="URL зображення" value="{{ event.image_url if event.image_url else '' }}">
        <textarea name="comment" placeholder="Коментар (напр. місце проведення, особливості)" rows="4">{{ event.comment if event.comment else '' }}</textarea>
        <button type="submit">Зберегти зміни</button>
    </form>
    <p><a href="{{ url_for('index') }}" class="back-link">← Повернутися до подій</a></p>
{% endblock %}